@import "../../../fonts.css";

.sponsors{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 164px;
  margin-top: 144.9px;
  margin-bottom: 189px;
}

.sponsors__heading{
  font-family: Gilroy-ExtraBold;
  font-size: 44px;
}

.sponsors__body{
  display: flex;
  flex-direction: row;
}

.sponsors__ellipse__yellow{
  width: 17px;
  height: 18px;
  border: solid 1px #ffffff;
  background-color: #e4d11f;
  border-radius: 18px;
}

.sponsors__content{
  border-radius: 10px;
  border: solid 1px #00b1f4;
}

.sponsors__roundrect__green{
  width: 23.4px;
  height: 23.1px;
  transform: rotate(49deg);
  border-radius: 10px;
  border: solid 1px #ffffff;
  background-color: #1a9606;
}

.sponsors__ellipse__pink{
  width: 9px;
  height: 10px;
  border: solid 1px #ffffff;
  background-color: #e50051;
  border-radius: 10px;
}

.sponsors__title-sponsors__logo{
  width: 186px;
  height: 222px;
}

.sponsors__title-sponsors{
  .sponsors__heading{
    margin-bottom: 58px;
  }

  .sponsors__ellipse__yellow{
     transform: translate(-15px, 201px);
  }

  .sponsors__content{
    padding: 24px 42px;
  }

  .sponsors__roundrect__green{
    transform: translate(27.5px,-39.42px) rotate(49deg);
  }

  .sponsors__ellipse__pink{
    transform: translate(9px, 3px);
  }


}

.sponsors__others{
  display: flex;
  flex-direction: row;
  column-gap: 155px;
}

.sponsors__associate-sponsors__logo{
  width: 443.2px;
  height: 139.2px;
}

.sponsors__associate-sponsors{

  display: flex;
  flex-direction: column;
  align-items: center;


  .sponsors__heading{
    margin-bottom: 10px;
    width:443.2px;
    text-align: center;
  }

  .sponsors__ellipse__yellow{
     transform: translate(64px, 200px);
  }

  .sponsors__content{
    padding: 20px 13.8px;
  }

  .sponsors__roundrect__green{
    transform: translate(-44.5px, -36.42px) rotate(49deg);
  }

  .sponsors__ellipse__pink{
    transform: translate(-40.5px, -47.42px);
  }
}

.sponsors__platform-partner__logo{
  width: 144px;
  height: 139.3px;
}

.sponsors__platform-partner{

  display: flex;
  flex-direction: column;
  align-items: center;

  .sponsors__heading{

    margin-bottom: 62.9px;
    text-align: center;

    @media screen and (max-width:1381px) {
      margin-bottom: 12px;
    }
  }

  .sponsors__ellipse__yellow{
     transform: translate(-22px, 160px);
  }

  .sponsors__content{
    padding: 20px 32px;
  }

  .sponsors__roundrect__green{
    transform: translate(13.5px, -38.42px) rotate(49deg);
  }

  .sponsors__ellipse__pink{
    transform: translate(2.5px, 2.58px);
  }
}



@media screen and (max-width:1000px) {

  .sponsors{
    row-gap: 77px;
    margin-top: 77.2px;
    margin-bottom: 76.5px;
  }

  .sponsors__heading{
    font-size: 21px;
  }

  .sponsors__ellipse__yellow{
    width: 12px;
    height: 13px;
    border-radius: 13px;
  }
  
  
  .sponsors__roundrect__green{
    width: 11.9px;
    height: 11.8px;
    transform: rotate(49deg);
    border-radius: 10px;
  }
  
  .sponsors__ellipse__pink{
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }

  .sponsors__title-sponsors__logo{
    width: 136px;
    height: 162px;
  }

  .sponsors__others{
    flex-direction: column;
    row-gap: 89px;
  }

  .sponsors__associate-sponsors__logo{
    width: 186.6px;
    height: 58.6px;
  }

  .sponsors__platform-partner__logo{
    width: 60.9px;
    height: 59px;
  }


  .sponsors__title-sponsors{

    .sponsors__heading{
      margin-bottom: 44px;
      text-align: center;
    }
    .sponsors__ellipse__yellow{
      transform: translate(-19px, 178px);
   }
 
   .sponsors__content{
     padding: 18px 31px;
   }
 
   .sponsors__roundrect__green{
     transform: translate(0.5px, -26.42px) rotate(49deg);
   }
 
   .sponsors__ellipse__pink{
     transform: translate(-2px, 0px);
   }

  }


  .sponsors__platform-partner{

    .sponsors__heading{
      margin-bottom: 44px;
    }

    .sponsors__content{
      padding: 8.5px 13.1px;
    }

    .sponsors__ellipse__yellow{
      transform: translate(-13px, 62px);
   }
 
   .sponsors__roundrect__green{
     transform: translate(-0.5px, -20.42px) rotate(49deg);
   }
 
   .sponsors__ellipse__pink{
     transform: translate(1px, -4px);
   }

  }


  .sponsors__associate-sponsors{
    .sponsors__heading {
      margin-bottom: 44px;
      width: auto;
    }

    .sponsors__content{
      padding: 8.8px 5.9px;
    }
    
    .sponsors__ellipse__yellow{
      transform: translate(20px, 92px);
   }
 
   .sponsors__roundrect__green{
     transform: translate(-16.5px, -24.42px) rotate(49deg);
   }
 
   .sponsors__ellipse__pink{
     transform: translate(-14.5px, -31.2px);
   }
   
  }
}
