@import "../../scss/imports";

.event {
  width: 80vw;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 70px auto 0 auto;

  @media screen and (max-width: $mobile-view) {
    height: calc(100% - 165px);
    flex-flow: column;
    margin: 0 auto;
  }

  &__rightContainer {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-view) {
      justify-content: center;
    }
  }
}
