@import "../../fonts.css";

$fix-1773: 0.77;
$fix-1350: 0.57;
$fix-1001: 0.37;
.user{
    display: flex;
    width: max-content;
    margin: auto;
}

.user-events{
    margin-top: 105px;
}

.user-events__header{
    color: #29abe2;
    font-family: Gilroy-ExtraBold;
    font-size: 49px;
    // font-weight: 800;
    margin-left: 269px;
}

.user-events__registered{
    margin-top: 76px;
}

.user-hr{
    background-color: #29abe2;
    width: 0;
    height: 202px;
    // margin: 53.5px 0 4.5px;
    margin-left: 59.5px;
    margin-top: 219px;
    border: solid 5px #29abe2;
    border-radius: 20px;
}

.user-details{
    margin-top: 219.1px;
    margin-bottom: 350px;
    margin-left: 183px;
}

.user-details__name{
    font-family: Gilroy-Light;
    color: #29abe2;
    font-size: 70px;
    border-bottom: solid 1px #268db9;
    padding: 11px 34px;       
}

.user-details__number{
    font-family: Gilroy-Light;
    color: #29abe2;
    font-size: 35px;
    border-radius: 15px;
    border: solid 1px #29abe2;
    width: max-content;
    padding: 6px 26px;
    margin-top: 29.5px;
    margin-left: 96.5px;
}

.user-details__circle{
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 26px;
    margin-left: 315.5px;
    transform: translateY(-12px);
}

@media screen and (max-width:1773px){
    .user-events{
        margin-top: calc(#{105px*$fix-1773});
    }
    
    .user-events__header{
        font-size: calc(#{49px*$fix-1773});
        margin-left: calc(#{269px*$fix-1773});
    }
    
    .user-events__registered{
        margin-top: calc(#{76px*$fix-1773});
    }
    
    .user-hr{
        height: calc(#{202px*$fix-1773});
        margin-left: calc(#{59.5px*$fix-1773});
        margin-top: calc(#{219px*$fix-1773});
        border: solid calc(#{5px*$fix-1773}) #29abe2;
    }
    
    .user-details{
        margin-top: calc(#{219.1px*$fix-1773});
        margin-bottom: calc(#{350px*$fix-1773});
        margin-left: calc(#{183px*$fix-1773});
    }
    
    .user-details__name{
        font-size: calc(#{70px*$fix-1773});
        padding: calc(#{11px*$fix-1773}) calc(#{34px*$fix-1773}); 
    }
    
    .user-details__number{
        font-size: calc(#{35px*$fix-1773});
        border-radius: calc(#{15px*$fix-1773});
        padding: calc(#{6px*$fix-1773}) calc(#{26px*$fix-1773});
        margin-top: calc(#{29.5px*$fix-1773});
        margin-left: calc(#{96.5px*$fix-1773});
    }
    
    .user-details__circle{
        width: calc(#{26px*$fix-1773});
        height: calc(#{26px*$fix-1773});
        border-radius: calc(#{26px*$fix-1773});
        margin-left: calc(#{315.5px*$fix-1773});
        transform: translateY(calc(#{-12px*$fix-1773}));
    }
}

@media screen and (max-width:1350px){
    .user-events{
        margin-top: calc(#{105px*$fix-1350});
    }
    
    .user-events__header{
        font-size: calc(#{49px*$fix-1350});
        margin-left: calc(#{269px*$fix-1350});
    }
    
    .user-events__registered{
        margin-top: calc(#{76px*$fix-1350});
    }
    
    .user-hr{
        height: calc(#{202px*$fix-1350});
        margin-left: calc(#{59.5px*$fix-1350});
        margin-top: calc(#{219px*$fix-1350});
        border: solid calc(#{5px*$fix-1350}) #29abe2;
    }
    
    .user-details{
        margin-top: calc(#{219.1px*$fix-1350});
        margin-bottom: calc(#{350px*$fix-1350});
        margin-left: calc(#{183px*$fix-1350});
    }
    
    .user-details__name{
        font-size: calc(#{70px*$fix-1350});
        padding: calc(#{11px*$fix-1350}) calc(#{34px*$fix-1350}); 
    }
    
    .user-details__number{
        font-size: calc(#{35px*$fix-1350});
        border-radius: calc(#{15px*$fix-1350});
        padding: calc(#{6px*$fix-1350}) calc(#{26px*$fix-1350});
        margin-top: calc(#{29.5px*$fix-1350});
        margin-left: calc(#{96.5px*$fix-1350});
    }
    
    .user-details__circle{
        width: calc(#{26px*$fix-1350});
        height: calc(#{26px*$fix-1350});
        border-radius: calc(#{26px*$fix-1350});
        margin-left: calc(#{315.5px*$fix-1350});
        transform: translateY(calc(#{-12px*$fix-1350}));
    }
}

@media screen and (max-width:1001px){
    .user-events{
        margin-top: calc(#{105px*$fix-1001});
    }
    
    .user-events__header{
        font-size: calc(#{49px*$fix-1001});
        margin-left: calc(#{269px*$fix-1001});
    }
    
    .user-events__registered{
        margin-top: calc(#{76px*$fix-1001});
    }
    
    .user-hr{
        height: calc(#{202px*$fix-1001});
        margin-left: calc(#{59.5px*$fix-1001});
        margin-top: calc(#{219px*$fix-1001});
        border: solid calc(#{5px*$fix-1001}) #29abe2;
    }
    
    .user-details{
        margin-top: calc(#{219.1px*$fix-1001});
        margin-bottom: calc(#{350px*$fix-1001});
        margin-left: calc(#{183px*$fix-1001});
    }
    
    .user-details__name{
        font-size: calc(#{70px*$fix-1001});
        padding: calc(#{11px*$fix-1001}) calc(#{34px*$fix-1001}); 
    }
    
    .user-details__number{
        font-size: calc(#{35px*$fix-1001});
        border-radius: calc(#{15px*$fix-1001});
        padding: calc(#{6px*$fix-1001}) calc(#{26px*$fix-1001});
        margin-top: calc(#{29.5px*$fix-1001});
        margin-left: calc(#{96.5px*$fix-1001});
    }
    
    .user-details__circle{
        width: calc(#{26px*$fix-1001});
        height: calc(#{26px*$fix-1001});
        border-radius: calc(#{26px*$fix-1001});
        margin-left: calc(#{315.5px*$fix-1001});
        transform: translateY(calc(#{-12px*$fix-1001}));
    }
}