@import "../../fonts.css";

$fix-1773: 0.77;
$fix-1350: 0.57;
$fix-1001: 0.37;
.user{
    display: flex;
    width: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    padding: 30px 0;
    height: 650px;
    margin-bottom: 100px;
}

.user-events{
    display: flex;
    justify-content: center;
    width: 60%;
    flex-flow: column;
    align-items: center;
}

.user-events__header{
    color: #29abe2;
    font-family: Gilroy-ExtraBold;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 800;
    // margin-left: 269px;
}

.user-events__registered{
    margin-top: 76px;
}

.user-hr-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-hr{
    background-color: #29abe2;
    width: 0;
    height: 202px;
    
    border: solid 3px #29abe2;
    border-radius: 20px;
}

.user-details{
    display: flex;
    flex-flow: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.user-details__name{
    font-family: Gilroy-Light;
    color: #29abe2;
    font-size: 51px;
    border-bottom: solid 1px #268db9;
    width: 280px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;       
}

.user-details__number{
    font-family: Gilroy-Light;
    color: #29abe2;
    font-size: 35px;
    border-radius: 15px;
    border: solid 1px #29abe2;
    width: max-content;
    padding: 6px 26px;
    margin-top: 29.5px;
    margin-left: 96.5px;
}

.user-details__circle{
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 26px;
    margin-left: 315.5px;
    transform: translateY(-12px);
}

.spaceship{
    width: 283px;
    height: 280px;
}