@import "../../../scss/imports";
@import "../../../scss/base";

.main {
  margin: 0 auto;
  border: 1px solid #1bbcf1;
  padding: 25px 20px;
  border-radius: 20px;
  overflow-x: hidden;
  margin-bottom: 30px;
  padding-left: 30px;

  &__container {
    height: max-content;
    justify-content: center;
    align-items: center;
    display: grid;

    &__title {
      width: max-content;
      margin: 0 auto;
      font-size: 60px;
      font-weight: 800;
      font-stretch: normal;
      font-family: "Gilroy-Light";
      line-height: 1.22;
      letter-spacing: normal;
      color: #ffffff;
      padding-bottom: 20px;

      @media screen and (max-width: 1200px) {
        font-size: 40px;
      }

      @media screen and (max-width: $mobile-view) {
        font-size: 20px;
        line-height: 1;
        padding-bottom: 10px;
      }
    }

    &__content {
      display: flex;
      @include custom-scrollbar;

      // Width Media Query
      @media screen and (max-width: $mobile-view) {
        flex-flow: column;
        width: 100%;
        margin: 10px auto;
        overflow: visible auto;
        overflow-x: hidden;
      }

      // Height Media Query
      @media screen and (max-height: 830px) and (max-width: $mobile-view) {
        overflow-y: scroll;
      }

      &__vl {
        margin: 20px auto 0px;
        border-left: 2px solid #1bbcf1;
        font-size: 2.5rem;

        @media screen and (max-width: $mobile-view) {
          display: none;
        }
      }

      &__left {
        width: 50%;
        display: flex;
        flex-flow: column;
        margin: 20px auto 0px;
        padding-right: 10px;
        box-sizing: border-box;

        // Width Media Query
        @media screen and (max-width: $mobile-view) {
          width: 100%;
        }

        @media screen and (max-height: 600px) {
          margin: auto;
        }

        &__details {
          display: flex;
          padding: 4px;

          @media screen and (max-height: 600px) {
            padding: 4px;
          }
        }

        &__description {
          font-size: 18px;
          font-weight: 300;
          font-stretch: normal;
          font-family: "Gilroy-Light";
          line-height: 1.14;
          letter-spacing: normal;
          width: 90%;
          margin-bottom: 20px;

          @media screen and (max-width: $mobile-view) {
            padding-bottom: 10px;
            font-size: 14px;
            height: max-content;
            text-align: center;
            margin: auto;
          }

          @media screen and (max-height: 600px) {
            font-size: 14px;
          }
        }

        &__info {
          font-family: "Gilroy-Light";
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          margin-top: 10px;

          @media screen and (max-width: $mobile-view) {
            width: 100%;
            margin: 0px auto;
            padding: 0px;
            font-size: 17px;
          }

          @media screen and (max-height: 600px) {
            line-height: 1;
          }

          &__colorchange {
            color: #03b0ef;
          }

          &__nochange {
            margin-left: 4px;
            margin-top: 1px;
          }
        }
      }

      &__right {
        width: 50%;
        box-sizing: border-box;
        margin: 20px auto;
        padding: 20px;
        padding-top: 0;

        @media screen and (max-width: 1200px) {
          padding: 10px;
        }

        &__main {
          display: flex;
          align-items: center;
          padding: 4px;
        }

        @media screen and (max-width: $mobile-view) {
          width: 100%;
          margin: 0 auto;
          padding: 0px;
          font-size: 16px;
        }

        &__colorchange {
          color: #03b0ef;
          text-transform: uppercase;
          // margin-top: 5px;
        }

        &__reg {
          text-align: center;
          margin: 0 auto;
          padding-top: 40px;
          cursor: pointer;
          font-size: 18px;
          @media screen and (max-width: $mobile-view) {
            padding-top: 20px;
          }
          a {
            color: $color-style;
            transition: 0.15s;
            padding: 8px 14px;
            border: 1px solid $color-style;
            font-weight: 800;
            border-radius: 3px;

            @media screen and (max-width: $mobile-view) {
              position: fixed;
              width: max-content;
              bottom: 80px;
              left: 50%;
              right: 50%;
              transform: translateX(-50%);
            }

            &:hover {
              color: white;
              background-color: $color-style;
            }
          }
          &__but {
            display: flex;
            justify-content: center;
            padding: 10px 0;
          }
        }
      }
    }

    &__button {
      font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      font-size: 16px;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      padding: 10px 30px;
      font-weight: 1000;
      text-transform: uppercase;
      box-shadow: 0 3px 6px 0 rgba(105, 224, 216, 0.16);
      background-color: transparent;
      cursor: pointer;
      border: 1px solid #1bbcf1;
      transition: all 0.3s;

      @media screen and (max-width: $mobile-view) {
        font-size: 14px;
        padding: 5px 15px;
        // padding: 0;
      }
    }

    &__input {
      font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      font-size: 16px;
      border-radius: 5px 0px 0px 5px;
      text-align: center;
      display: inline-block;
      padding: 10px 30px;
      font-weight: 1000;
      text-transform: uppercase;
      box-shadow: 0 3px 6px 0 rgba(105, 224, 216, 0.16);
      background-color: transparent;
      border: 1px solid #1bbcf1;
      transition: all 0.3s;
      color: #ffffff;
      outline: none;
      @media screen and (max-width: $mobile-view) {
        font-size: 14px;
        padding: 5px 15px;
      }
    }

    &__join {
      font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      font-size: 16px;
      border-radius: 0px 5px 5px 0px;
      text-align: center;
      display: inline-block;
      padding: 10px 30px;
      font-weight: 1000;
      text-transform: uppercase;
      box-shadow: 0 3px 6px 0 rgba(105, 224, 216, 0.16);
      background-color: #1bbcf1;
      border: 1px solid #1bbcf1;
      transition: all 0.3s;
      cursor: pointer;
      outline: none;
      @media screen and (max-width: $mobile-view) {
        font-size: 14px;
        padding: 5px 15px;
      }
    }

    &__button:hover {
      background-color: #03b0ef;
      // color: black;
    }
  }
}

.events-info-table {
  font-size: 18px;
  border: 0px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  &__key,
  &__value {
    box-sizing: border-box;
    padding-bottom: 15px;
  }

  &__key {
    width: 115px;
    display: block;
    color: $color-style;
    text-align: left;
    font-weight: 800;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }

    @media screen and (max-width: $mobile-view) {
      // width: 100%;
      text-align: right;
      font-size: 14px;
    }
  }

  &__value {
    padding-left: 10px;
    line-height: 1.4;

    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: $mobile-view) {
      font-size: 14px;
    }

    &__call {
      margin-top: 5px;
    }
  }
}
.confirmationMsg {
  margin-top: 15px;
  text-align: center;
}

.registerBtnContainer {
  display: flex;
  @media screen and (max-width: $mobile-view) {
    flex-flow: column;
  }
}
.withJoin {
  @media screen and (max-height: 830px) and (max-width: $mobile-view) {
    height: calc(100vh - 430px);
  }
}
.withOutJoin {
  @media screen and (max-height: 830px) and (max-width: $mobile-view) {
    height: calc(100vh - 400px);
  }
}
