#loginButton{
    width: 20px;
    border-radius: 20px;
    z-index: 0;
    background: transparent;
}

.abcRioButton{
    width: 35px;
    background: transparent;
}
.abcRioButtonLightBlue{
    width: 35px;
}

.abcRioButtonIcon{
    background: transparent;
}

.xxx{
    z-index: 1;
}

.imgLogo{
    width: 62px;
    height: 62px;
    border-radius: 50px;
}

.logoBorder{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 2px solid #00ABEA;
    padding: 9px;
    box-sizing: border-box;
}